<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Mini JIRA | Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="https://kit.fontawesome.com/735dba9ed7.js" crossorigin="anonymous"></script>
    <link href="../static/img/favicon.png" rel="icon" type="image/png" th:href="@{/img/favicon.png}"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<main class="container">
    <form th:object="${createTaskInput}" method="post">
        <h1 class="h3 my-3 fw-normal text-center">Edit Task</h1>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" min="3" max="32" required
                   th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}" th:field="*{title}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea class="form-control" id="desc" rows="3"
                      th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                      th:field="*{description}"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>
        <div class="mb-3">
            <label for="hoursNeeded" class="form-label">Hours needed</label>
            <input class="form-control" id="hoursNeeded" type="number" step="0.5" required
                   th:classappend="${#fields.hasErrors('hoursNeeded') ? 'is-invalid' : ''}" th:field="*{hoursNeeded}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('hoursNeeded')}" th:errors="*{hoursNeeded}"></div>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select id="status" class="form-select" th:field="*{statusValue}">
                <option th:each="status : ${statuses}" th:value="${status.toString()}" th:text="${status.getName()}"
                        th:selected="${status.getName() == 'Todo'}"></option>
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" href="javascript:history.back()">Back</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>