<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="alert (type, message)" th:assert="${!#strings.isEmpty(type) and !#strings.isEmpty(message)}"
     class="alert alert-dismissible fade show" th:classappend="'alert-' + ${type}" role="alert">
    <span th:text="${message}">Test</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</body>
</html>