<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<form th:fragment="commentForm(task)" method="post" th:action="@{/comments/new/{id}/(id=${task.getId()})}"
      class="d-flex flex-column">
    <div class="mb-3">
        <label for="body" class="form-label">Add your own comment</label>
        <textarea class="form-control" id="body" rows="3" required name="body" minlength="1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary align-self-end">Send comment</button>
</form>
</body>
</html>