<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Mini JIRA | Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
    <script src="https://kit.fontawesome.com/735dba9ed7.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}"/>
</head>
<body>
<main class="form-signin w-100 m-auto">
    <form th:action="@{/auth/register}" th:object="${createUserInput}" method="post">
        <h1 class="h3 mb-3 fw-normal text-center">Registration form</h1>
        <div class="form-floating my-1">
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}"
                   id="floatingInput" th:field="*{username}">
            <label for="floatingInput">Username</label>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div class="form-floating my-1">
            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('passwordRaw') ? 'is-invalid' : ''}"
                   id="floatingPassword" th:field="*{passwordRaw}">
            <label for="floatingPassword">Password</label>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('passwordRaw')}" th:errors="*{passwordRaw}"></div>
        </div>
        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" th:href="@{/}">Back</a>
            <button class="btn btn-primary" type="submit">Sign up</button>
        </div>
    </form>
    <div th:replace="fragments/footer :: footer"></div>
</main>
</body>
</html>