<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Mini JIRA | Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
    <script src="https://kit.fontawesome.com/735dba9ed7.js" crossorigin="anonymous"></script>
</head>
<body class="text-center">
<main class="form-signin w-100 m-auto">
    <form action="/auth/register" method="post">
        <h1 class="h3 mb-3 fw-normal">Registration form</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username" min="1" max="32" name="username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="password" min="1" max="64" name="passwordRaw">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
    <p class="mt-5 mb-3 text-muted">
        &copy; Trisztán Piller | Mini JIRA <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2077</span>
    </p>
</main>
</body>
</html>